b, strong, h6, h5, h4, h3, h2, h1 {
    font-weight: bolder;
}
.my-cart-icon {
    cursor: pointer;
}

.sidecart {
    z-index: 99999999;
}

.open-cart {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.sidecart-data {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    padding: 1rem 1.75rem;
    height: 100vh;
    position: fixed;
    top: 0px;
    overflow: hidden;
    right: -500px;
    z-index: 999999999;
    background-color: white;
    transition: 0.2s ease;
}

@media (max-width: 400px) {
    .sidecart {
        width: 100vw;
        right: -100vw;
    }
}

.open-cart .sidecart-data {
    right: 0px !important;
}

.product-quantity {
    position: relative;
}

.product-quantity:after {
    content: "x de";
    white-space: nowrap;
    position: absolute;
    //z-index: 10;
    margin-left: 2px;
}

.sidecart-price > div {
    margin: auto;
    width: 100%;
    white-space: nowrap;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.727), rgba(0, 0, 0, 0.7)),
        url("../img/hero.jpg");
    background-attachment: fixed;
}

.hero-cart{
    height:100px
}

// sidebar categories
.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, 0.85);
    //background-color: #d2f4ea;
}

.btn-toggle::after {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    //background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}
.lh-tight {
    line-height: 1.25;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}
.thumbnail img {
    width: 80%;
}
.thumbnail .caption {
    margin: 7px;
}
.main-section {
    background-color: #f8f8f8;
}

.dropdown {
    float: right;
    padding-right: 30px;
}

.dropdown .dropdown-menu {
    padding: 20px;
    width: 350px !important;
    box-shadow: 0px 5px 30px black;
}
.total-header-section {
    border-bottom: 1px solid #d2d2d2;
}
.total-section p {
    margin-bottom: 20px;
}
.cart-detail {
    padding: 15px 0px;
}
.cart-detail-img img {
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
.cart-detail-product p {
    margin: 0px;
    color: #000;
    font-weight: 500;
}
.cart-detail .price {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
}
.cart-detail .count {
    color: #c2c2dc;
}
.checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary {
    border-radius: 50px;
    height: 50px;
}
header .dropdown-menu:before {
    content: " ";
    position: absolute;
    top: -20px;
    right: 50px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}

label{
    cursor:pointer;
}

.waybox-button{
    width: 100% !important;
    /*margin-bottom: 20px;*/
}

#search{
    width:264px!important;
}