[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #000;
    color: #fff;
    font-size: 80%;
    position: absolute;
    padding: 1px 5px 0 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    top:20%;
    left:62%;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

.cart{
    cursor:pointer;
}